.checkout-container {
  display: grid;
  min-height: 100vh;
  margin: 0;
  margin-top: 0px;
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--page-background);
  margin-top: 0;
  justify-content: center;
}

.checkout-items {
  display: grid;
  justify-content: center;
  margin-left: 1300px;
}

.p-4.rounded.shadow-sm.bg-white {
  width: 615px;
  margin-left: -50px;
  margin-top: -830px;
  border-radius: 20px !important;
  display: grid;
  justify-content: center;
}

.cart-value-finish {
  position: relative;
  display: flex;
  justify-content: unset;
  direction: rtl;
  margin-right: 189px;
}

.checkout-title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: var(--navy-blue-color);
}

@media (max-width: 768px) {
  .shopping-cart-finish {
    display: flex;
    justify-content: center;
    margin-top: 10% !important;
    width: 100vw;
    margin-left: 0;
    margin-bottom: 25%;
    height: 580px;
  }
  .checkout-items {
    width: 100%;
    margin-bottom: 22vh;
    margin-left: -7px;
    margin-top: -90px;
    display: grid;
  }
  .cart-value-finish {
    position: relative;
    display: flex;
    justify-content: unset;
    margin-right: 3%;
    margin-top: -48%;
    margin-bottom: 14%;
  }
}
