header {
  background-color: var(--blue-color);
}

.iteration-user {
  text-align: left;
  text-wrap: nowrap;
}
#IcoLocalizacao {
  margin-top: 30%;
  width: 25px;
}
#IcoMenu {
  margin: 0px -12px;
  cursor: pointer;
}

#Text-Input {
  margin-top: 34%;
  margin-left: 7%;
  color: white;
  font-weight: bold;
}

#Input-Cep {
  height: 25px;
  margin-top: 80px;
  width: 130px;
  border-radius: 7px;
  background-color: var(--blue-color);
  border: none;
  color: white;
  padding: 5px 25px;
  outline: none;
  transition: border 0.1sease -in-out, box-shadow 0.1sease -in-out;
  margin-left: 2%;
}

#Input-Cep::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

#Input-Cep:focus {
  border: 1px solid white; /* Ativa a borda branca */
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6); /* Adiciona um brilho ao redor */
}

#Input-Cep:focus::placeholder {
  color: white;
}

#logo {
  width: 160px;
  margin-left: 15%;
}

.search-container {
  margin: 0;
  width: 50%;
  margin-top: -20px;
}

.icon {
  display: flex;
  margin-top: -35px;
  #Text-Login {
    width: 44%;
    color: white;
    font-size: 14px;
  }
  #UserLogin {
    width: 35px;
    height: 35px;
    margin-right: 4%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  #Carrinho {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
}

#UserLogin:hover,
#Carrinho:hover {
  transform: translateY(-2px);
}

#Lupa {
  margin-top: -10%;
  margin-left: 90%;
  width: 4%;
}
.d-flex.align-items-center {
  margin-top: -23%;
}

@media (max-width: 768px) {
  #Text-Login {
    display: none;
  }
  #InputPesquisa {
    margin: -50px 26%;
    margin-bottom: -50px;
    margin-bottom: -45px;
    width: 150%;
    margin-bottom: 13%;
  }
  #logo {
    margin: 15px 65px;
  }
  #IcoLocalizacao {
    margin-top: 35%;
    width: 20px;
  }
  #Text-Input {
    margin-top: 35%;
    margin-left: 2%;
  }
  #Input-Cep {
    margin-top: 35%;
    padding: 5px 2px;
  }
  .icon {
    display: none;
  }
  #Lupa {
    margin-top: -63%;
    width: 20px;
    margin-left: 155%;
  }
}
