header {
  background-color: var(--blue-color);
}
.search-desktop input {
  display: flex;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: -1%;
  top: -41%;
}
.search-mobile {
  display: none;
}

.iteration-user {
  text-align: left;
  text-wrap: nowrap;
}
#IcoLocalizacao {
  margin-top: 30%;
  width: 25px;
}
#IcoMenu {
  margin: 0px -12px;
  cursor: pointer;
  margin-top: 4%;
}

#Text-Input {
  margin-top: 34%;
  margin-left: 7%;
  color: white;
  font-weight: bold;
}

#Input-Cep {
  height: 25px;
  margin-top: 80px;
  width: 130px;
  border-radius: 7px;
  background-color: var(--blue-color);
  border: none;
  color: white;
  padding: 5px 25px;
  outline: none;
  transition: border 0.1sease -in-out, box-shadow 0.1sease -in-out;
  margin-left: 2%;
}

#Input-Cep::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

#Input-Cep:focus {
  border: 1px solid white; /* Ativa a borda branca */
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6); /* Adiciona um brilho ao redor */
}

#Input-Cep:focus::placeholder {
  color: white;
}

#logo {
  width: 160px;
  margin-left: 15%;
  margin-top: 4%;
}

.search-container {
  margin: 0;
  width: 50%;
  margin-top: -20px;
  position: relative;
}

.icon {
  display: flex;
  margin-top: -35px;
  #Text-Login {
    width: 44%;
    color: white;
    font-size: 14px;
  }
  #UserLogin,
  #Carrinho {
    width: 30px;
    height: 30px;
  }

  #UserLogin {
    margin-right: 4%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  #Carrinho {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
}

#UserLogin:hover,
#Carrinho:hover {
  transform: translateY(-2px);
}

#Lupa {
  margin-top: -6%;
  margin-left: 43%;
  width: 4%;
  position: absolute;
  cursor: pointer;
}
.d-flex.align-items-center {
  margin-top: -23%;
}

@media (max-width: 768px) {
  #Text-Login {
    display: none;
  }
  #InputPesquisa {
    margin: -50px 26%;
    margin-bottom: -50px;
    margin-bottom: -45px;
    width: 150%;
    margin-bottom: 13%;
  }

  #IcoLocalizacao {
    margin-top: 35%;
    width: 20px;
  }
  #Text-Input {
    margin-top: 35%;
    margin-left: 2%;
  }
  #Input-Cep {
    margin-top: 35%;
    padding: 5px 2px;
  }
  #IcoMenu {
    display: none;
  }

  #UserLogin,
  #Carrinho,
  #Lupa {
    width: 24px !important;
    height: 24px !important;
  }
  #UserLogin {
    margin-right: 43% !important;
  }
  .container {
    padding: 38px 0px;
  }
  .d-flex.align-items-center {
    position: absolute;
    margin: -9% 0%;
    margin-left: 6%;
  }
  #IcoMenu {
    margin: 0px 0px;
  }
  #Lupa {
    margin-left: 15%;
    margin-top: -10%;
  }
  #logo {
    margin-top: -10%;
    width: 100px;
  }
  .search-container {
    width: 100%;
    margin: 0;
  }
  .icon {
    display: flex;
    direction: ltr;
    margin-left: 75%;
    margin-top: -13%;
  }
}

/* Esconde o input em telas menores que 768px */
@media (max-width: 768px) {
  #InputPesquisa {
    display: none !important;
  }

  /* Quando o input tiver a classe "show", ele aparecerá */
  #InputPesquisa.show {
    display: flex !important;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 80%;
    max-width: 300px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  .search-box {
    display: flex;
    align-items: center;
    position: absolute;
    top: -40px;
    right: 51px;
    width: 290px;
    background: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    z-index: 10;
    padding-left: 7%;
  }
  .search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .search-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    top: 33%;
    position: absolute;
    margin-left: -7%;
  }
  .close-icon {
    width: 12px;
    height: 12px;
    cursor: pointer;
    top: 19px;
    position: absolute;
    left: 262px;
  }
  .search-desktop {
    display: none; /* Esconde o campo de pesquisa do desktop */
  }
  .iteration-user {
    text-align: left;
    text-wrap: nowrap;
    display: contents;
    position: absolute;
  }
  .navbar.navbar-expand-lg {
    padding: 12px 0px;
  }
}
