.product-inspect {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 200vh;
  overflow-x: hidden;
}
.product-image-large {
  width: 100%;
  max-width: 26%;
  display: block;
  margin-left: 29%;
  margin-top: -3%;
}

.product-details {
  display: contents;
  margin: 0;
}

.gallery {
  display: grid;
  justify-content: flex-start;
  gap: 27px;
  margin-top: -25%;
  margin-left: 19%;
  margin-bottom: 20%;
}

.thumbnail {
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.thumbnail.selected {
  border: 2px solid #007bff;
}

.inspection-name {
  font-size: 1.5rem;
  position: absolute;
  margin: -10%;
  font-family: var(--font-primary);
  font-weight: lighter;
  color: var(--navy-blue-color);
  justify-content: center;
  display: flex;
  margin-left: 19%;
}

.payment-information {
  text-align: left;
  width: 100%;
  height: 100%;
  margin-left: 65%;
  display: block;
  direction: ltr;
  margin-top: -50%;
}

.payment-button,
.shipping-calculator,
.installments-pi {
  margin-left: -6%;
}

.buy-button,
.add-to-cart-button {
  display: grid;
  width: 46%;
}

.buy-buttons {
  margin-left: -6%;
  width: 100%;
  margin-top: 4%;
  line-height: 40px;
}

.buy-buttons button {
  background-color: var(--blue-color);
  border-radius: 7px;
  border: none;
  height: 45px;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
  width: 420px;
}

button.add-to-cart-button {
  background-color: white;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  margin-top: 2%;
  padding: 1px;
  margin-bottom: 5%;
}

.add-to-cart-button:hover {
  background-color: var(--blue-color);
  color: white;
}

.buy-button:hover {
  background-color: var(--card--edge-color);
  color: white;
}

.payment-method {
  display: grid;
  text-align: left;
  margin-left: -6%;
  color: var(--navy-blue-color);
  margin-bottom: 1%;
}

.payment-button {
  background-color: var(--discount-background);
  border: none;
  border-radius: 4px;
  margin-right: 10%;
  color: var(--discount--color);
}

.quantity {
  font-family: var(--font-primary);
  color: var(--navy-blue-color);
  display: grid;
  margin-left: -6%;
  margin-top: 4%;
}

.quantity-selector {
  display: contents;
}

div.quantity-selector button {
  background-color: var(--blue-color);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  font-size: 22px;
  margin-left: -6%;
  margin-right: 15%;
}

.numeral-indicator {
  display: inline-block;
  width: 5%;
  text-align: center;
  padding: 4px 10px;
  border: 1px solid var(--card--edge-color);
  border-radius: 7px;
  font-weight: bold;
  font-size: 1rem;
  background-color: #fff;
  color: var(--blue-color);
  margin-left: -6%;
  height: 35px;
  margin: 0% -13%;
  position: absolute;
}
.payment-button {
  img {
    width: 30px;
  }
}
.shipping-calculator {
  width: 420px;
  height: auto;
  border: 1px solid var(--card--edge-color);
  border-radius: 4px;

  span {
    color: var(--navy-blue-color);
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    text-align: left;
    width: 100%;
    font-weight: bold;
  }
  input {
    width: 170px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid var(--blue-color);
    outline: none;
    margin-right: 1%;
  }
  input:hover {
    border-color: var(--blue-color);
  }
  input:focus {
    border-color: var(--blue-color);
    box-shadow: 0 0 5px var(--navy-blue-color); /* Adiciona um efeito sutil ao focar */
  }
  button {
    background-color: var(--blue-color);
    color: white;
    height: 40px;
    border-radius: 18px;
    width: 162px;
    border: none;
    font-weight: bold;
  }
  button:hover {
    background-color: var(--card--edge-color);
    color: white;
  }
}

.truck-delivery {
  margin-right: 2%;
  width: 32px;
  margin-left: 3%;
}

.calendar {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 0%;
}

.delivery-condition {
  display: grid;
  border: dashed 2px var(--card--edge-color); /* Borda tracejada */
  width: 420px;
  margin-top: 4%;
}
.descripition-delivery {
  width: 90%;
  margin-top: -8%;
  margin-left: 11%;
  font-size: 15px;
}

.delivery-time {
  margin-top: 3%;
  border: 1px solid var(--card--edge-color);
  color: var(--navy-blue-color);
  width: 420px;
}

.title-time {
  font-size: 20px;
  font-weight: bold;
  background-color: #f7f7f7;
  height: 148%;
  width: 100%;
  padding: 11px 11px;
}

.standard-delivery {
  margin-left: 3%;
  margin-top: 0%;
}
.p-time {
  margin-left: 15%;
  margin-top: -6%;
}

#truck-green {
  width: 45px;
  margin-top: 2%;
  margin-left: 1%;
}

.title-divider {
  color: var(--navy-blue-color);
}

#building {
  width: 40px;
  margin-top: 2%;
  margin-left: 1%;
  display: flex;
  justify-content: center;
  margin: 1% 1%;
}

.availability {
  padding: 0% 0%;
  margin-bottom: 4%;
  color: red;
  background-color: rgba(255, 0, 0, 0.205);
  text-align: end;
  display: flex;
  margin: -11% 11% 5%;
}

.product-description {
  color: var(--navy-blue-color);
  width: 80%;
  list-style: none;
  border: 1px solid var(--card--edge-color);
  margin: 15%;
  text-align: left;
  padding: 2% 2%;
  margin-top: 23%;
  li {
    list-style: none;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
}

.title-box-decription {
  position: absolute;
  margin: -4% 0%;
  background-color: var(--card--edge-color);
  padding: 7px 2%;
  width: 9%;

  /* Arredondando apenas o topo */
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: var(--blue-color);
  font-size: 20px;
}

.back-button {
  cursor: pointer;
  animation: pulsate 1.5s ease-in-out infinite;
  margin: 7% -33%;
}

@keyframes pulsate {
  0% {
    transform: scale(1); /* Tamanho normal */
    opacity: 0.8; /* Um pouco mais transparente */
  }
  50% {
    transform: scale(1.1); /* Aumenta o tamanho */
    opacity: 1; /* Torna completamente visível */
  }
  100% {
    transform: scale(1); /* Volta ao tamanho normal */
    opacity: 0.8; /* Um pouco mais transparente novamente */
  }
}

.back-text {
  color: var(--navy-blue-color);
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -14%;
  margin-left: 24%;
}
.to-go-back {
  display: ruby;
}

.discount-price-details {
  font-weight: 900;
}
.back-button {
  cursor: pointer;
  animation: pulsate 1.5s ease-in-out infinite;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-left: -57%;
  margin-bottom: 12%;
  margin-top: 2%;
  width: 40px;
}

.product-iteration {
  display: block ruby;
  position: absolute;
  margin: -16% -17%;
  width: 100%;
  .box-share,
  .box-heart-product,
  .box-description-list {
    width: 40px;
    height: 40px;
    background-color: var(--card--edge-color);
    padding: 7px;
    border-radius: 4px;
  }
  a,
  .heart-product {
    text-decoration: none;
    color: var(--navy-blue-color);
    font-size: 16px;
    font-weight: 500;
  }
  #shareicon,
  #hearticon,
  #descriptionicon {
    width: 25px;
    height: 25px;
  }
  .share-text,
  .heart-product,
  .description-link {
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (max-width: 768px) {
  .gallery {
    display: grid;
    justify-content: flex-start;
    gap: 27px;
    margin-top: -10%;
    margin-left: 0;
    margin-bottom: 20%;
  }

  .product-image-large {
    width: 70%;
    max-width: 70%;
    display: block;
    margin-left: 26%;
    margin-top: 68%;
  }

  .gallery {
    display: grid;
    justify-content: flex-start;
    gap: 27px;
    margin-top: -88%;
    margin-left: 0;
    margin-bottom: 0%;
  }

  .thumbnail {
    width: 24%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }

  .inspection-name {
    margin-left: 0;
    margin-top: 145%;
    font-size: 16px;
    width: 95%;
    font-weight: bold;
    color: var(--navy-blue-color);
  }

  .payment-information {
    display: grid;
    height: 185vh !important;
    margin-left: 0;
    margin-top: 65%;
    overflow-x: hidden;
    position: absolute;
    text-align: left;
    width: 100%;
  }

  .product-description {
    color: var(--navy-blue-color);
    width: 95%;
    list-style: none;
    border: 1px solid var(--card--edge-color);
    margin: 320% auto;
    text-align: left;
    padding: 2% 2%;
    margin-bottom: 30%;
  }
  .numeral-indicator {
    display: inline-block;
    width: 16%;
    text-align: center;
    padding: 4px 10px;
    border: 1px solid var(--card--edge-color);
    border-radius: 7px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #fff;
    color: var(--blue-color);
    position: absolute;
    margin-left: -6%;
    height: 35px;
    margin: 0% -19%;
  }
  .installments-pi,
  .payment-method,
  .payment-method,
  .quantity,
  .discount-price-details,
  .shipping-calculator {
    margin-left: 10% !important;
  }

  .payment-button {
    margin-left: 10%;
    margin-right: 1%;
  }
  .discount-price-details {
    margin-left: 10% !important;
  }
  div.quantity-selector button {
    margin-left: 2%;
  }
  .calendar {
    height: 25px;
    width: 25px;
    margin-top: 7% !important;
  }
  .descripition-delivery {
    font-size: 13px;
    margin: -12% 15%;
    margin-bottom: -12%;
    margin-bottom: 2%;
  }
  .title-box-decription {
    margin: -12% 0%;
    width: 25%;
    padding: 2% 10px;
  }
  .back-button {
    animation: pulsate 1.5s ease-in-out infinite;
    cursor: pointer;
    margin-left: 3%;
    margin-top: -111px;
    position: absolute;
    width: 32px;
  }
  .back-text {
    margin-left: -40%;
    margin-right: 38%;
    color: var(--navy-blue-color);
  }
  .delivery-condition,
  .delivery-time {
    width: 95%;
    justify-content: center;
    margin-left: 2%;
  }
  #truck-green {
    margin: -2% 1%;
    width: 32px;
  }
  .installments-pi-pi,
  #shipping-deadline {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }
  #building {
    width: 30px;
  }
  .shipping-calculator {
    border: none !important;
    border-radius: 4px;
    /* box-shadow: 0 0 5px gray; */
    color: #fff;
    font-weight: 700;
    height: 100vh;
    margin-left: 2% !important;
    outline: none;
    width: 95%;
    margin-top: -131vh !important;
    & span {
      display: grid;
      color: var(--navy-blue-color);
      margin-bottom: 2%;
      width: 84%;
      padding: 10px;
    }
  }
  .with-delivery {
    margin-top: 228vh;
  }
  .product-iteration {
    margin: 88px -85px;
    .heart-product,
    .share-text {
      display: none;
    }
    .description-link {
      background-color: var(--card--edge-color);
      position: absolute;
      border-radius: 4px;
      color: var(--blue-color);
      top: 0px;
      padding: 8px 42px;
      left: 285px;
      width: 44%;
      margin-left: -4%;
    }
  }
  .buy-buttons {
    left: 17px;
    margin-bottom: 5%;
    margin-right: auto !important;
    margin-top: 80%;
    padding: 0 !important;
    position: absolute;
    margin-left: 0;
  }
  .buy-buttons button {
    width: 90%;
  }
  .availability {
    text-align: center;
  }

  .shipping-calculator {
    & input {
      border: 1px solid var(--blue-color) !important;
      border-radius: 7px !important;
      height: 40px !important;
      outline: none !important;
      margin-left: 6% !important;
      margin-bottom: 5% !important;
      width: 70% !important;
      padding: 0px 57px !important;
    }
  }
  .shipping-calculator {
    button {
      background-color: var(--blue-color) !important;
      border: none !important;
      border-radius: 18px !important;
      color: #fff !important;
      font-weight: 700;
      height: 40px !important;
      width: 95% !important;
      margin-left: 2% !important;
    }
  }
  .title-time {
    font-size: 20px !important;
    font-weight: 700;
    padding: 12px 10px 0 !important;
    background-color: white !important;
  }
  .delivery-time {
    .p-time {
      margin-left: 15%;
      margin-top: 0 !important;
    }
    .standard-delivery {
      margin-left: 3%;
      margin-top: -12%;
    }
  }
  .availability {
    padding: 0% 0%;
    color: red;
    background-color: rgba(255, 0, 0, 0.205);
    width: 75%;
    display: flex;
    justify-content: center;
    margin: -42px 41px;
    margin-top: -42px;
    margin-right: 41px;
    margin-bottom: -42px;
    margin-left: 41px;
    margin-bottom: 4%;
  }
  .box-share,
  .box-heart-product {
    margin-right: 1%;
  }
  .box-description-list {
    width: 84px !important;
  }
  div.quantity-selector button {
    margin-right: 26%;
  }
  .quantity-selector {
    display: block;
    margin-left: 7%;
    margin-top: 345%;
  }
  .installments-pi {
    margin-top: -4%;
  }

  .truck-delivery {
    margin-right: 2%;
    width: 32px;
    height: 32px;
    margin-left: 5%;
  }
  .quantity {
    color: var(--navy-blue-color);
    display: grid;
    font-family: var(--font-primary);
    margin-left: 3% !important;
    margin-top: -367%;
    margin-bottom: 0;
  }
}
