.product-image-large {
  width: 100%;
  max-width: 33%;
  display: block;
  margin: 140px 505px;
}

.gallery {
  display: grid;
  justify-content: flex-start;
  gap: 27px;
  margin-top: -43%;
  margin-left: 19%;
  margin-bottom: 20%;
}

.thumbnail {
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.thumbnail.selected {
  border: 2px solid #007bff;
}

.text-page-location {
  display: none;
}

h1 {
  font-size: 1.5rem;
  position: absolute;
  margin: -2% -45%;
  font-family: var(--font-primary);
  font-weight: lighter;
  color: var(--navy-blue-color);
}
.payment-information {
  margin-left: 64%;
  margin-top: -50%;
  margin-bottom: 25%;
  text-align: left;
}

.payment-button,
.shipping-calculator,
.installments {
  margin-left: -6%;
}

.buy-button,
.add-to-cart-button {
  display: grid;
  width: 46%;
}

.buy-buttons {
  margin-left: -6%;
  width: 100%;
  margin-top: 6%;
  line-height: 40px;
}

.buy-buttons button {
  background-color: var(--blue-color);
  border-radius: 7px;
  border: none;
  height: 45px;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

button.add-to-cart-button {
  background-color: white;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  margin-top: 2%;
  padding: 1px;
  margin-bottom: 5%;
}

.add-to-cart-button:hover {
  background-color: var(--blue-color);
  color: white;
}

.buy-button:hover {
  background-color: var(--card--edge-color);
  color: white;
}

.payment-method {
  display: grid;
  text-align: left;
  margin-left: -6%;
  color: var(--navy-blue-color);
  margin-bottom: 1%;
}

.payment-button {
  background-color: var(--discount-background);
  border: none;
  border-radius: 4px;
  margin-right: 10%;
  color: var(--discount--color);
}

.quantity {
  font-family: var(--font-primary);
  color: var(--navy-blue-color);
  display: grid;
  margin-left: -6%;
  margin-top: 4%;
}

div.quantity-selector button {
  background-color: var(--blue-color);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  font-size: 22px;
  margin-left: -6%;
  margin-right: 21%;
}
.numeral-indicator {
  display: inline-block;
  min-width: 70px;
  text-align: center;
  padding: 4px 10px;
  border: 1px solid var(--blue-color);
  border-radius: 7px;
  font-weight: bold;
  font-size: 1rem;
  background-color: #fff;
  color: var(--blue-color);
  position: absolute;
  margin-left: -127px;
  height: 35px;
}
.payment-button {
  img {
    width: 30px;
  }
}
.shipping-calculator {
  span {
    display: grid;
    color: var(--navy-blue-color);
    margin-bottom: 2%;
  }
  input {
    width: 20%;
    height: 45px;
    border-radius: 7px;
    border: 1px solid var(--blue-color);
    outline: none; /* Remove o contorno padrão do navegador */
    margin-right: 2%;
  }
  input:hover {
    border-color: var(--blue-color);
  }
  input:focus {
    border-color: var(--blue-color);
    box-shadow: 0 0 5px var(--navy-blue-color); /* Adiciona um efeito sutil ao focar */
  }
  button {
    background-color: var(--blue-color);
    color: white;
    height: 45px;
    border-radius: 18px;
    width: 16%;
    border: none;
    font-weight: bold;
  }
  button:hover {
    background-color: var(--card--edge-color);
    color: white;
  }
}

.truck-delivery {
  margin-right: 2%;
}
