.product-image-large {
  width: 100%;
  max-width: 33%;
  display: block;
  margin: 140px 505px;
}

.gallery {
  display: grid;
  justify-content: flex-start;
  gap: 27px;
  margin-top: -39%;
  margin-left: 19%;
  margin-bottom: 20%;
}

.thumbnail {
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.thumbnail.selected {
  border: 2px solid #007bff;
}

.text-page-location {
  display: none;
}

h1 {
  font-size: 1.5rem;
  position: absolute;
  margin: -2% -45%;
  font-family: var(--font-primary);
  font-weight: lighter;
  color: var(--navy-blue-color);
}
.payment-information {
  margin-left: 64%;
  margin-top: -50%;
  margin-bottom: 25%;
  text-align: left;
}

.payment-button,
.shipping-calculator,
.installments {
  margin-left: -6%;
}

.buy-button,
.add-to-cart-button {
  display: grid;
  width: 46%;
}

.buy-buttons {
  margin-left: -6%;
  width: 100%;
  margin-top: 6%;
  line-height: 40px;
}

.buy-buttons button {
  background-color: var(--blue-color);
  border-radius: 7px;
  border: none;
  height: 45px;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
  width: 65%;
}

button.add-to-cart-button {
  background-color: white;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  margin-top: 2%;
  padding: 1px;
  margin-bottom: 5%;
}

.add-to-cart-button:hover {
  background-color: var(--blue-color);
  color: white;
}

.buy-button:hover {
  background-color: var(--card--edge-color);
  color: white;
}

.payment-method {
  display: grid;
  text-align: left;
  margin-left: -6%;
  color: var(--navy-blue-color);
  margin-bottom: 1%;
}

.payment-button {
  background-color: var(--discount-background);
  border: none;
  border-radius: 4px;
  margin-right: 10%;
  color: var(--discount--color);
}

.quantity {
  font-family: var(--font-primary);
  color: var(--navy-blue-color);
  display: grid;
  margin-left: -6%;
  margin-top: 4%;
}

div.quantity-selector button {
  background-color: var(--blue-color);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  font-size: 22px;
  margin-left: -6%;
  margin-right: 21%;
}
.numeral-indicator {
  display: inline-block;
  min-width: 70px;
  text-align: center;
  padding: 4px 10px;
  border: 1px solid var(--blue-color);
  border-radius: 7px;
  font-weight: bold;
  font-size: 1rem;
  background-color: #fff;
  color: var(--blue-color);
  position: absolute;
  margin-left: -127px;
  height: 35px;
}
.payment-button {
  img {
    width: 30px;
  }
}
.shipping-calculator {
  span {
    display: grid;
    color: var(--navy-blue-color);
    margin-bottom: 2%;
  }
  input {
    width: 26%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid var(--blue-color);
    outline: none;
    margin-right: 3%;
  }
  input:hover {
    border-color: var(--blue-color);
  }
  input:focus {
    border-color: var(--blue-color);
    box-shadow: 0 0 5px var(--navy-blue-color); /* Adiciona um efeito sutil ao focar */
  }
  button {
    background-color: var(--blue-color);
    color: white;
    height: 40px;
    border-radius: 18px;
    width: 25%;
    border: none;
    font-weight: bold;
  }
  button:hover {
    background-color: var(--card--edge-color);
    color: white;
  }
}

.truck-delivery {
  margin-right: 2%;
}

.calendar {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 0%;
}

.delivery-condition {
  display: grid;
  border: dashed 2px var(--card--edge-color); /* Borda tracejada */
  width: 61%;
  margin-top: 6%;
}
.descripition-delivery {
  width: 90%;
  margin-top: -8%;
  margin-left: 11%;
  font-size: 15px;
}

.delivery-time {
  margin-top: 7%;
  display: grid;
  border: 1px solid var(--card--edge-color);
  color: var(--navy-blue-color);
  width: 61%;
}

.title-time {
  font-size: 20px;
  font-weight: bold;
  background-color: #f7f7f7;
  height: 148%;
  width: 100%;
  padding: 10px 15px 0px;
}

.standard-delivery {
  margin-left: 15%;
  margin-top: -12%;
}
.p-time {
  margin-left: 15%;
  margin-top: -6%;
}

#truck-green {
  width: 45px;
  margin-top: 2%;
  margin-left: 1%;
}

.title-divider {
  color: var(--navy-blue-color);
}

#building {
  width: 45px;
  margin-top: 2%;
  margin-left: 1%;
}

.availability {
  margin-left: 15%;
  margin-top: -10%;
  padding: 0% 0%;
  margin-bottom: 4%;
  color: red;
  background-color: rgba(255, 0, 0, 0.205);
  width: 75%;
}

.product-description {
  color: var(--navy-blue-color);
  width: 80%;
  list-style: none;
  border: 1px solid var(--card--edge-color);
  margin: 15%;
  text-align: left;
  padding: 2% 2%;
  li {
    list-style: none;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
}

.title-box-decription {
  position: absolute;
  margin: -4% 0%;
  background-color: var(--card--edge-color);
  padding: 7px 2%;
  width: 9%;

  /* Arredondando apenas o topo */
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: var(--blue-color);
  font-size: 20px;
}

.back-button {
  cursor: pointer;
  margin-left: -30%;
  margin-top: 2%;
  animation: pulsate 1.5s ease-in-out infinite; /* Aplica a animação */
  margin-bottom: 4%;
  margin-right: 1%;
}

@keyframes pulsate {
  0% {
    transform: scale(1); /* Tamanho normal */
    opacity: 0.8; /* Um pouco mais transparente */
  }
  50% {
    transform: scale(1.1); /* Aumenta o tamanho */
    opacity: 1; /* Torna completamente visível */
  }
  100% {
    transform: scale(1); /* Volta ao tamanho normal */
    opacity: 0.8; /* Um pouco mais transparente novamente */
  }
}

.back-text {
  color: var(--navy-blue-color);
}
