footer {
  background-color: #e8f1ff;
  padding: 1%;
  width: 100%;
  overflow-x: hidden;
}
.footer-social img {
  border-radius: 20px;
  width: 50px;
  margin-right: 17px;
}
.footer-social {
  margin-left: 20%;
  margin-top: 10%;
  display: flex;
  position: relative;
}

.talk-to-agent {
  color: var(--footer-lyrics);
  font-weight: 600;
  font-size: 25px;
  padding: 1% 1%;
  margin: 0;
}

.contact-icons {
  list-style: none;
  display: flex;
  justify-content: left;
  margin-left: 27%;
}

.box-suport {
  width: 190px;
  height: 45px;
  border: 2px solid var(--card--edge-color);
  border-radius: 5px;
  margin-left: -36%;
  margin-right: 1%;
}

.suport-on-line,
.temple-text,
.bank-slip-text {
  display: ruby-base-container;
}

.box-temple {
  width: 190px;
  height: 45px;
  border: 2px solid var(--card--edge-color);
  border-radius: 5px;
  margin-right: 1%;
  padding: 0px 0px;
}

.box-bank-slip {
  width: 190px;
  height: 45px;
  border: 2px solid var(--card--edge-color);
  border-radius: 5px;
}

.temple-text,
.bank-slip-text,
.suport-on-line {
  font-size: 12px;
  text-decoration: none;
  color: var(--footer-lyrics);
}
.contact-icons {
  a {
    font-weight: bold;
    max-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 17%;
  }
}
#temple {
  width: 22px;
  height: 22px;
  margin: 0% 3%;
  display: flex;
  justify-content: flex-end;
  margin-left: -5%;
  margin-right: 6%;
}
#bank-slip {
  width: 22px;
  height: 22px;
  margin: 0% 3%;
  display: flex;
  justify-content: flex-end;
  margin-left: -5%;
  margin-right: 6%;
}

#suport {
  width: 22px;
  height: 22px;
  margin: 0% 3%;
  display: flex;
  justify-content: flex-end;
  margin-left: -5%;
  margin-right: 6%;
}

.contact-buttons {
  margin-bottom: 6%;
  margin-top: 4%;
  button {
    color: var(--footer-lyrics);
    border: none;
    background-color: #e8f1ff;
    font-size: 13px;
    font-weight: bold;
  }
}

.footer-app {
  display: grid;
  margin: -17% 70%;
  margin-bottom: 5%;

  h3 {
    font-size: 23px;
    color: var(--footer-lyrics);
    font-weight: 600;
    text-wrap: nowrap;
  }
  p {
    color: var(--footer-lyrics);
  }
}
.qr-code {
  width: 25%;
  display: flex;
  justify-content: end;
  direction: rtl !important;
  position: inherit;
  margin: 0% 89%;
}

.app-stores {
  position: relative;
  width: 54%;
  margin-top: -26%;
  display: flex;
  justify-content: flex-end;
  margin-left: 23%;
}

.footer-button {
  P {
    margin-top: 2%;
    color: var(--footer-lyrics) !important;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .divider-footer {
    height: 1px;
    color: var(--footer-lyrics);
    margin: 2% 18%;
    width: 70%;
    margin-bottom: -1%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .talk-to-agent {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 4%;
  }
  .box-suport {
    width: 50%;
    height: 38px;
    border: 2px solid var(--card--edge-color);
    margin-left: 19%;
    border-radius: 5px;
    display: flex;
    margin: 0;
    margin-bottom: 2%;
  }
  .box-temple {
    width: 50%;
    height: 38px;
    border: 2px solid var(--card--edge-color);
    border-radius: 5px;
    margin: 0%;
    margin-bottom: 0%;
    margin-bottom: 2%;
    padding: 0px 0px;
    margin-bottom: 2%;
  }
  .box-bank-slip {
    width: 50%;
    height: 38px;
    border: 2px solid var(--card--edge-color);
    border-radius: 5px;
    margin: 0%;
    margin-bottom: 0%;
    margin-bottom: 2%;
  }
  #suport {
    width: 20px;
    height: 20px;
    margin: 0px 8px;
    margin-right: 7px;
    margin-right: 20px;
  }
  #temple {
    margin-left: -20%;
    margin-right: 13%;
    width: 20px;
    height: 20px;
  }
  #bank-slip {
    width: 20px;
    height: 20px;
    margin-left: -10%;
    margin-right: 11%;
  }
  .footer-app {
    display: none;
  }
  .contact-buttons {
    margin-bottom: 6%;
    margin-top: 10%;
    width: 100%;
    text-align: left;
    margin: 0;
  }
  .contact-icons {
    display: flow-root;
    width: 93%;
    margin-left: 1%;
    .box-suport,
    .box-bank-slip,
    .box-temple {
      width: 63%;
      height: 47px;
    }
  }
  .footer-social {
    margin-left: 0;
    margin-top: 11%;
  }
  .divider-footer {
    display: none;
  }
  .container {
    padding: 38px 0px;
  }
  .discount-badge {
    margin: 0px -7%;
  }
}
