.text-page-location {
  position: absolute;
  margin-left: 310px;
  margin-top: -4%;
  color: var(--blue-color);
}

.result-page-location {
  position: absolute;
  margin-left: 24%;
  margin-top: -6%;
  display: flex;
  justify-content: left;
}

@media (max-width: 760px) {
  .text-page-location {
    margin: -17% 1%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
  }
  .result-page-location {
    position: absolute;
    margin-top: -23%;
    font-size: x-small;
    margin-left: 1%;
  }
}
